.parent{
    background-color: lightgreen;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(72, 167, 64);
    border-radius: 7px;
    padding: 10px;
    width: 250px;
}

.grandchild{
    background-color: rgb(104, 177, 146);
    border-radius: 7px;
    padding: 10px;
}